@import "@scss/variables";

$box-height: 264px;

.earn-box {

  & > .col {
    height: $box-height;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: calc(#{$default-font-size} * 1.375);
    line-height: calc(#{$default-font-size} * 2.1825);
    color: $black-3;
    opacity: $default-opacity;
  }
}
